<!DOCTYPE html>
<html lang="it">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nuovi Giocatori</title>
    <link rel="stylesheet" href="/css/styleG.css">
</head>

<body>
    <header>
        <div class="logo">
            <a href="/"><img src="/images/im.png" width="50%"></a>
        </div>
    </header>
    
 	
        <div th:if="${messaggioErrore}" class="error-message">
            <span th:text="${messaggioErrore}"></span>
        </div>
        
    <div class="content">
        <h1>Aggiungi i Giocatori</h1>

        <form th:action="@{/GiocatoriNuovi}" method="POST" th:object="${giocatore}">
            <input type="hidden" name="id" th:value="${squadra.id}" />
            
            <p>Nome Squadra: <span th:text="${squadra.nome}"></span></p>
            <div th:if="${messaggioErrore}" class="error-message">
                <span th:text="${messaggioErrore}">Errore</span>
            </div>
            <div>
                <label for="nome">Nome Giocatore:</label>
                <input required type="text" id="nome" th:field="${giocatore.nome}" />
            </div>
            <div>
                <label for="cognome">cognome:</label>
                <input required type="text" id="cognome" th:field="${giocatore.cognome}" />
            </div>
            
            <div>
        <label for="data">Data:</label>
        <input type="date" id="data" th:field="${giocatore.data}" required />
    </div>


    <div>
        <label for="luogoDiNascita">Luogo di Nascita:</label>
        <input required type="text" id="luogoDiNascita" th:field="${giocatore.luogoDiNascita}" />
    </div>

    <div>
        <label for="ruolo">Ruolo:</label>
        <input required type="text" id="ruolo" th:field="${giocatore.ruolo}" />
    </div>

    <div>
        <label for="dataInizio Tesseramento">Data Inizio:</label>
        <input type="date" id="dataInizio" th:field="${giocatore.dataInizio}" required />
          
    </div>

    <div>
        <label for="dataFine Tesseramento">Data Fine:</label>
        <input type="date" id="dataFine" th:field="${giocatore.dataFine}" required />
          
    </div>
            
            <div>
                <button type="submit">Conferma</button>
            </div>
        </form>
    </div>
</body>

</html>
