<!DOCTYPE html>
<html lang="it">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Giocatori</title>
    <link rel="stylesheet" href="/css/style.css">
    
</head>

<body>
    <header>
        <div class="logo">
            <a href="/"><img src="/images/im.png" alt="Logo"></a>
        </div>
    </header>

    <div class="content">
        <h1>Giocatori:</h1>

        <div th:if="${Giocatori.isEmpty()}">
            <p>Non ci sono giocatori nel sistema</p>
        </div>

        <ul th:each="Giocatore : ${Giocatori}">
            <li>
                <div class="ingredient-info">
                    <span th:text="${Giocatore.nome}">Nome Giocatore</span>
                    <span th:text="${Giocatore.cognome}">Cognome</span>
                </div>
                <div class="actions">
                    <a th:href="@{'/pres/GiocatoriPresidente/' + ${Giocatore.id} + '/' + ${Squadra.id}}">Cancella giocatore</a>
                </div>
            </li>
        </ul>
    </div>
</body>

</html>
