<!DOCTYPE html>
<html lang="it">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Presidente</title>
    <link rel="stylesheet" href="/css/stylep.css?version=2">
    
</head>

<body>
    <header>
        <div class="logo">
            <a href="/"><img src="/images/im.png" width="30%"></a>
        </div>
    </header>

    <div class="content">
        <h1 th:text="${Presidente.nome} + ' ' + ${Presidente.cognome}"></h1>
            <p><span class="label">Nome Presidente:</span> <span th:text="${Presidente.nome} + ' ' + ${Presidente.cognome}"></span></p>
         	<p><span class="label">Codice Fiscale:</span> <span th:text="${Presidente.codiceFiscale}"></span></p>
	        <p><span class="label">Data di Nascita:</span> <span th:text="${Presidente.nascita}"></span></p>
            <p><span class="label">Luogo di Nascita:</span> <span th:text="${Presidente.luogoDiNascita}"></span></p>
            <p><span class="label">Squadra:</span>
                <span th:if="${Presidente.squadra != null}" th:text="${Presidente.squadra.nome}"></span>
                <span th:if="${Presidente.squadra == null}">Non disponibile</span>
            </p>
    </div>
</body>

</html>
